/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom css */

body {
  background-color: #fabb74;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

main {
  background-color: #8ac2eb;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  margin: 50px 0;
  padding: 10px 0;
}

h1 {
  font-size: 3.8rem;
  font-weight: 900;
  padding: 25px 0;
}

input {
  padding: 10px;
  margin: 12px 0;
  font-size: 1.8rem;
  width: 95%;
  border-radius: 5px;
  border: 2px solid blue;
}

label,
.mList {
  font-size: 2rem;
  font-weight: bold;
  width: 100px;
  height: 28px;
  margin: 0;
}

li {
  padding: 25px;
  display: flex;
  justify-content: flex-start;
}

span i {
  color: red;
  font-size: 2rem;
  margin: 0 50px;
}
