/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom css */

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  flex: 0 1 100%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  border: none;
}

h1 {
  padding: 40px;
  font-size: 32px;
  font-weight: bolder;
}

main {
  max-width: 400px;
  padding: 20px;
  height: auto;
  margin: 0 auto;

  text-align: center;
}

.display {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: end;
  border: 1px solid;
  margin: 10px 2%;
  width: 96%;
  padding: 7%;
  border-radius: 10px;
}

.values {
  padding: 10px 32px;
  margin: 3px;
  border-radius: 5px;
  background-color: #cfcfcf;
}

.size {
  padding: 5px 33px;
}

.store {
  display: inline-block;
  border-radius: 5px;
  margin: 6px;
  padding: 82px 32px;
  margin-right: 10px;
  color: white;
  background-color: #1d8080;
}

.oprations button {
  color: white;
  background-color: #722033;
}

#clear {
  color: white;
  background-color: #3d1b10;
}
